<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Gerenciado de tarefas - página inicial</title>
		<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
	</head>
	<body>
		<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
		<div class="container">
			<p>Olá seja bem vindo ao gerenciado de tarefas!</p>
			<p th:text="${mensagem}"></p>
		</div>
		<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
		<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>